.tree_header table thead > tr > th {

background-color: rgb(10, 75, 112) !important;
color:white !important;
}


.tree_header table thead > tr > th:nth-child(2) {

    width: 250px !important;

    }


.close_btn {
    background-color: red !important;
    color: white !important;
}
